<div class="statusBox">
    <h2>{{ 'dashboard.status.jobs_title' | translate }}</h2>
    <div *ngIf="jobqueue?.length != 0; else noJobs">
        <p>{{ 'dashboard.status.jobs_text' | translate }}:</p>
        <ul>
            <div *ngFor="let job of jobqueue">
                <p>{{ job.StatusTime }} - {{ job.Program.Title }} - {{ JobTypeText(job.Type) }} -
                    {{ 'dashboard.status.jobs_status' | translate }}: {{ JobStatusText(job.Status) }} </p>
                <!-- Add details of failed job -->
            </div>
        </ul>
    </div>
</div>
<ng-template #noJobs>
    <p>{{ 'dashboard.status.jobs_none' | translate }}</p>
</ng-template>