*.a
*.o
*.o.json
moc_*.cpp
moc_*.h
*.moc
*.so
*.so.*
*.orig
*.rej
*kdev*
*.def
*.dylib
object_script.*
*~
.#*
.DS_Store
.*.swp
*.pc
patches
*.core
debug
release
*.exe
*.dll
*.lib
*.ilk
*.obj
*.suo
*.sln
*.sdf
*.exp
*.pdb
*.res
*.user
*.vcxproj
*.vcxproj.filters
*.manifest
bin
moc
obj
*.ipch
.directory
.vscode
.qmake.stash
tags
TAGS
GPATH
GRTAGS
GTAGS
compile_commands.json
__pycache__
