*.a
*.o
moc_*.cpp
*.moc
*.so
*.so.*
*.orig
*.rej
*kdev*
*.def
*.dylib
object_script.*
*~
.DS_Store
.*.swp
*.pc
patches
*.core
debug
release
*.exe
*.dll
*.lib
*.ilk
*.obj
*.suo
*.sln
*.sdf
*.exp
*.pdb
*.res
*.user
*.vcxproj
*.vcxproj.filters
*.manifest
bin
*.ipch
