# Posted by Monty Walls, mwalls@castor.oktax.state.ok.us

NoDefaults
NoGrabServer
RestartPreviousState
DecorateTransients
UsePPosition "on"
TitleFont "-adobe-helvetica-bold-r-normal--*-120-*-*-*-*-*-*"
ResizeFont "-adobe-helvetica-bold-r-normal--*-120-*-*-*-*-*-*"
MenuFont "-adobe-helvetica-bold-r-normal--*-120-*-*-*-*-*-*"
IconFont "-adobe-helvetica-bold-r-normal--*-100-*-*-*-*-*-*"
IconManagerFont "-adobe-helvetica-bold-r-normal--*-100-*-*-*"

Cursors {
	Frame	"top_left_arrow"
	Title	"top_left_arrow"
	Icon	"top_left_arrow"
	IconMgr	"top_left_arrow"
	Move	"fleur"
	Resize	"fleur"
	Menu	"sb_left_arrow"
	Button	"hand2"
	Wait	"watch"
	Select	"dot"
	Destroy	"pirate"
}

Color
{
    	BorderColor "slategrey" {
		"VideoLan Client" "black"
		"Xine"		"black"
		"Xawtv"		"black"
		"MPlayer"	"black"
		"tvtime"	"black"
		"MythTV"	"black"
		"mythfrontend"	"black"
	}
	DefaultBackground 	"rgb:2/a/9"
	DefaultForeground 	"gray85"
	TitleBackground 	"rgb:2/a/9"
	TitleForeground 	"gray85"
	MenuBackground 		"rgb:2/a/9"
	MenuForeground 		"gray85"
	MenuTitleBackground 	"gray70"
	MenuTitleForeground 	"rgb:2/a/9"
	IconBackground 		"rgb:2/a/9"
	IconForeground 		"gray85"
	IconBorderColor 	"gray85"
	IconManagerBackground 	"rgb:2/a/9"
	IconManagerForeground 	"gray85"
}

NoTitle {
	"VideoLan Client"
	"Xine"
	"MPlayer"
	"Xawtv"
	"tvtime"
	"MythTV"
	"mythtv"
	"mythfrontend"
}

NoHighlight {
        "VideoLan Client"
	"Xine"
	"MPlayer"
	"mplayer"
	"Xawtv"
	"tvtime"
	"MythTV"
	"mythfrontend"
}

#
# Define some useful functions for motion-based actions.
#
MoveDelta 3
Function "move-or-lower" { f.move f.deltastop f.lower }
Function "move-or-raise" { f.move f.deltastop f.raise }
Function "move-or-iconify" { f.move f.deltastop f.iconify }

#
# Set some useful bindings.  Sort of uwm-ish, sort of simple-button-ish
#
Button1 = : root : f.menu "defops"

Button1 = m : window|icon : f.function "move-or-lower"
Button2 = m : window|icon : f.iconify
Button3 = m : window|icon : f.function "move-or-raise"

Button1 = : title : f.function "move-or-raise"
Button2 = : title : f.raiselower

Button1 = : icon : f.function "move-or-iconify"
Button2 = : icon : f.iconify

Button1 = : iconmgr : f.iconify
Button2 = : iconmgr : f.iconify

Button1 = : frame : f.resize

LeftTitleButton ":xlogo" = f.iconify
RightTitleButton ":resize" = f.fullzoom

#
# And a menus with the usual things
#
menu "defops"
{
"Twm"	f.title
"Iconify"	f.iconify
"Resize"	f.resize
"Move"		f.move
"Raise"		f.raise
"Lower"		f.lower
""		f.nop
"Focus"		f.focus
"Unfocus"	f.unfocus
"Show Iconmgr"	f.showiconmgr
"Hide Iconmgr"	f.hideiconmgr
""		f.nop
#"NVtv"		f.exec "exec nvtv &"
"Xterm"		f.exec "exec xterm &"
""		f.nop
"Kill"		f.destroy
"Delete"	f.delete
""		f.nop
"Restart"	f.restart
"Exit"		f.quit
}

