<NOTE:  These comments should be removed.
Submitted by Patrick Pflaum <mailto:pat@netburp.com> to mythtv-dev mailing
list.
"
I also use "xte" to send commands to Myth from the MouseRemote.pl software.

Here is the config section from MouseRemote.conf that I use
"
END OF COMMENTS>

[WEB]
0       xte 'key 0'
1       xte 'key 1'
2       xte 'key 2'
3       xte 'key 3'
4       xte 'key 4'
5       xte 'key 5'
6       xte 'key 6'
7       xte 'key 7'
8       xte 'key 8'
9       xte 'key 9'
Shift   xte 'key Escape'
Ent
.VolUp   aumix -v+5
.VolDown aumix -v-5
ChUp    xte 'key Up'
ChDown  xte 'key Down'
Mute
AB      xte 'key Escape'
Disp    xte 'key i'
Rew     xte 'key Left'
Play    xte 'key Up'
FF      xte 'key Right'
Stop    xte 'key Down'
Select  xte 'key space'
Guide   xte 'key m'
Rec
Pause   xte 'key p'
Last
