<div class="programBox cursor-pointer" [ngClass]="[typeclass, catclass, 'guide_type_default']"
    [style.width.%]=durationToWidth() (click)="openDialog()" pTooltip="{{ getToolTip() }}" tooltipPosition="top">
    <div class="programTitle">{{ program.Title }}</div>
    <div class="programBody">
        <div class="programCatType">{{ program.Category }}</div>
        <div *ngIf="program.Recording">
            <!-- Recorded = -3, Recording = -2, WillRecord = -1, -->
            <div class="programCatType" [ngClass]="[-3,-2,-1].indexOf(program.Recording.Status)>-1?
                'bg-green-500' : 'bg-pink-400'">
                {{ program.Recording.StatusName }}</div>
        </div>
        <div class="programSubtitle">{{(program.Season ? 'S' + program.Season + 'E' + program.Episode : '') + ' ' +
            program.SubTitle }}</div>
    </div>
</div>