<div class="programBox cursor-pointer" [style.width.%]=durationToWidth() (click)="openDialog()">
    <div class="programTitle">{{ program.Title }}</div>
    <div class="programBody">
        <div *ngIf="program.SubTitle.length != 0">
            <div class="programSubtitle">{{ program.SubTitle }}</div>
        </div>
        <div *ngIf="program.Recording">
            <div class="programSubtitle" [ngClass]="['WillRecord','Recording'].indexOf(program.Recording.StatusName)>-1?
                'bg-green-400' : 'bg-pink-400'">
                {{ dataService.recStatusText[program.Recording.StatusName] }}</div>
        </div>
        <div class="programDescription">{{ program.Description }}</div>
    </div>
</div>
