    div.wizardcontent {
        position:           absolute;
        padding:            20px 10px 10px 0px;
    }

    /* keep wizard tabs small enough to fit on a 1024x768 size browser */
    div.wizardtab {
        width:              700px;
        height:             450px;
    }

