    div.setupcontent {
        position:           absolute;
        top:                10px;
        left:               10px;
        right:              10px;
    }

    /* keep wizard tabs small enough to fit on a 1024x768 size browser */
    div.setuptab {
        width:              100%;
    }

    #edit-bg {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #000000;
        z-index:100;
        opacity:0.5;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
    }

    #editcontent {
        position: absolute;
        top: 25px;
        width: 100%;
    }

    #editclosebutton {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    /************************************************************/
    /* various classes for 'popup' edit div */
    div.editborder-fullscreen {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        z-index: 101;
        border-width: 6px;
        border-color: #0000FF;
        border-style: double;
    }

    div.editborder-wizard {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        top: 30px;
        right: 30px;
        left: 30px;
        height: 420px;
        z-index: 101;
        border-width: 6px;
        border-color: #0000FF;
        border-style: double;
    }
    /************************************************************/

    #Title {
        font-size:          18px;
        font-family:        sans-serif;
        font-weight:        bold;
        width:              100%;
        color:              black;
        text-align:         center;
    }

    #setuptabs {
        width: 100%;
    }

    #jobEditTitle {
        font-size:          14px;
        font-family:        sans-serif;
        font-weight:        bold;
        width:              100%;
        color:              black;
        text-align:         center;
    }

