<form class="ml-3 mr-3" name="firewireform" #firewireform="ngForm">
    <span #top></span>
    <p-card class="m-5">
        <ng-template pTemplate="title">
            {{ 'settings.capture.firewire.title' | translate }}
        </ng-template>
        <ng-template pTemplate="subtitle">
        </ng-template>
        <ng-template pTemplate="content">
            <div class="grid">
                <div class="mb-4 w-full">

                    <div class="form-group field">
                        <label for="VideoDevice" class="label block">{{ 'settings.capture.firewire.device_label' | translate
                            }}</label>
                        <p-dropdown *ngIf="isReady" [options]="captureDeviceList.CaptureDeviceList.CaptureDevices"
                            [(ngModel)]="currentDevice" [editable]="false" optionLabel="VideoDevice"
                            (onChange)="updateDevice();" [maxlength]="0" [style]="{'minWidth':'83%'}" name="VideoDevice"
                            #VideoDevice="ngModel">
                        </p-dropdown>
                        <div *ngIf="warningMessage">
                            <small class="p-error block">
                                {{ warningMessage }}
                            </small>
                        </div>
                        <small class="block">
                        </small>
                    </div>

                    <div class="form-group field">
                        <label class="label block">{{ 'settings.capture.vbox.description_label' | translate
                            }}</label>
                        <div class="col-10 bg-blue-100 text-gray-900">
                            {{ currentDevice.Description}} &nbsp;
                        </div>
                        <small class="block">
                        </small>
                    </div>

                    <div class="form-group field">
                        <label for="FirewireModel" class="label block">{{ 'settings.capture.firewire.model_label' | translate
                            }}</label>
                        <p-dropdown [options]="models" [(ngModel)]="card.FirewireModel" [editable]="false"
                            optionLabel="name" optionValue="value" [maxlength]="0" [style]="{'minWidth':'83%'}"
                            name="FirewireModel" #FirewireModel="ngModel">
                        </p-dropdown>
                        <small class="block">
                            {{ 'settings.capture.firewire.model_desc' | translate }}
                        </small>
                    </div>

                    <div class="form-group field">
                        <label for="FirewireConnection" class="label block">{{ 'settings.capture.firewire.connection_label' |
                            translate
                            }}</label>
                        <p-dropdown [options]="connectionTypes" [(ngModel)]="card.FirewireConnection" [editable]="false"
                            optionLabel="name" optionValue="value" [maxlength]="0" [style]="{'minWidth':'83%'}"
                            name="FirewireConnection" #FirewireConnection="ngModel">
                        </p-dropdown>
                        <small class="block">
                        </small>
                    </div>


                    <div class="form-group field">
                        <label for="FirewireSpeed" class="label block">{{ 'settings.capture.firewire.speed_label' | translate
                            }}</label>
                        <p-dropdown [options]="speeds" [(ngModel)]="card.FirewireSpeed" [editable]="false"
                            optionLabel="name" optionValue="value" [maxlength]="0" [style]="{'minWidth':'83%'}"
                            name="FirewireSpeed" #FirewireSpeed="ngModel">
                        </p-dropdown>
                        <small class="block">
                        </small>
                    </div>

                    <div class="form-group field">
                        <label for="SignalTimeout" class="label block">{{ 'settings.capture.sigtimeout_label' | translate
                            }}</label>
                        <p-inputNumber [(ngModel)]="card.SignalTimeout" name="SignalTimeout" id="SignalTimeout"
                            [showButtons]="true" [min]="250" [max]="60000" [step]="250"></p-inputNumber>
                        <small class="block">
                            {{ 'settings.capture.sigtimeout_desc' | translate }}
                        </small>
                    </div>

                    <div class="form-group field">
                        <label for="ChannelTimeout" class="label block">{{ 'settings.capture.tunetimeout_label' | translate
                            }}</label>
                        <p-inputNumber [(ngModel)]="card.ChannelTimeout" name="ChannelTimeout" id="ChannelTimeout"
                            [showButtons]="true" [min]="2000" [max]="65000" [step]="250"></p-inputNumber>
                        <small class="block">
                            {{ 'settings.capture.tunetimeout_desc' | translate }}
                        </small>
                    </div>

                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid nogutter">
                <div class="col-12">
                    <p-message *ngIf="this.successCount > 0 && this.errorCount == 0 && !firewireform.dirty"
                        severity="success" text="{{ 'common.savesuccess' | translate }}"></p-message>
                    <p-message *ngIf="this.errorCount > 0" severity="error"
                        text="{{ 'common.networkfail' | translate }}"></p-message>
                </div>
                <p-button class="col pr-1" label="{{'common.save' | translate}}" icon="pi pi-save" iconPos="left"
                    (onClick)="saveForm(); firewireform.form.markAsPristine()"
                    [disabled]="!firewireform.dirty || !card.VideoDevice || setupService.schedulingEnabled"></p-button>
            </div>
        </ng-template>

    </p-card>
</form>