
.galleryList
{
    margin: 50px auto;
    width: 90%;
}

.videoBox
{
    background-color: #444444;
    border-radius: 6px 6px 6px 6px;
    float: left;
    height: 220px;
    overflow: hidden;
    width:200px;
    margin-right:25px;
    margin-bottom: 25px;
    right: 0px;

}

.videoHeader
{
    padding: 5px 8px 4px 7px;
    color: #FFFFFF;
    height: 25px;
    background: linear-gradient(to bottom, #777777 1%, #555555 20%, #222222 99%);
    border-radius: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}
.videoTitle
{
    width:98%;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    display: block;
    font-size: 1.0em;
    font-weight: bold;
    cursor: pointer; cursor: hand

}
.videoArtwork
{
    width: 100px;
    margin:10px auto;
    cursor: pointer; cursor: hand
}
.videoDescription
{
    float:left;
}
.videoDetailOverlay
{
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
