<div class="flex flex-column align-items-center channelBox cursor-pointer" (click)="guideComponent.onChannel(channel)"
    id="{{'Chan'+channel.ChanId}}">
    <div class="channelIcon">
        <img src="{{'./Guide/GetChannelIcon?Filename=' + channel.Icon + authorization}}" height="57" *ngIf="channel.IconURL; else nullIcon">
        <ng-template #nullIcon><img height="0" width="0"></ng-template>
    </div>
    <div class="channelText">
        <span>{{ channel.ChanNum}} {{ channel.CallSign }}</span>
    </div>
</div>