<div class="statusBox">
    <h2>{{ 'dashboard.status.frontends_title' | translate }}</h2>
    <div *ngIf="frontends?.length != 0; else noFrontends">
        <ul>
            <div *ngFor="let frontend of frontends">
                <li>{{ 'dashboard.status.frontends_detail' |
                    translate: { Name: frontend.Name, IP: frontend.IP, Port: frontend.Port, OnLine: frontend.OnLine } }}
                </li>
            </div>
        </ul>
    </div>
</div>
<ng-template #noFrontends>
    <p>{{ 'dashboard.status.frontends_none' | translate }}</p>
</ng-template>