<div *ngIf="(m_guideData$ | async)?.ProgramGuide as pg; else loading">
    <p-dataView [value]="pg.Channels" [totalRecords]="pg.TotalAvailable">
        <ng-template pTemplate="header" styleClass="timeHeader">
            <div class="col-12">
                <p-calendar
                    [(ngModel)]="m_startDate"
                    [showTime]="true"
                    [stepMinute]="30"
                    [dateFormat]=(m_dateFormat)
                    (onClose)="onDatePickerClose()">
                </p-calendar>
            </div>
        </ng-template>
        <ng-template let-channelrow let-i="rowIndex" pTemplate="listItem">
            <div class="grid col-12 p-3">
                <ng-container *ngIf="( i % 5 ) == 0">
                    <div class="col-12">
                        <app-guide-timebar [startTime]="pg.StartTime"></app-guide-timebar>
                    </div>
                </ng-container>
                <div class="grid flex-grow-1">
                    <div class="col-1">
                        <app-guide-channelicon [channel]=channelrow></app-guide-channelicon>
                    </div>
                    <div class="col">
                        <ng-container *ngFor="let program of channelrow.Programs">
                            <ng-container *ngIf="inDisplayWindow(program.StartTime, program.EndTime)">
                                <app-guide-programentry [program]="program"
                                    [guideStartTime]="pg.StartTime" [guideEndTime]="pg.EndTime">
                                </app-guide-programentry>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
<ng-template #loading>
    <p-progressSpinner [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
</ng-template>
