<div *ngIf="(m_guideData$ | async)?.ProgramGuide as pg; else loading">
    <!--p-dataView [value]="pg.Channels" [totalRecords]="pg.TotalAvailable"
        [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true"-->
    <!--p-dataView [value]="m_channelData" [totalRecords]="m_channelTotal"
        [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true"-->
        <p-dataView [value]="pg.Channels" [totalRecords]="pg.TotalAvailable">
        <ng-template pTemplate="header">
            <div class="col-12 right-align">
                Time Selector goes here
            </div>
            <app-guide-timebar [startTime]="pg.StartTime"></app-guide-timebar>
        </ng-template>
        <ng-template let-channelrow pTemplate="listItem">
            <div class="flex flex-row col-12">
                <div class="col-1">
                    <app-guide-channelicon [channel]=channelrow></app-guide-channelicon>
                </div>
                <div class="flex-auto">
                    <ng-container *ngFor="let program of channelrow.Programs">
                        <div *ngIf="inDisplayWindow(program.StartTime, pg.EndTime)">
                            <app-guide-programentry [program]="program" 
                                [guideStartTime]="pg.StartTime" [guideEndTime]="pg.EndTime">
                            </app-guide-programentry>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
<ng-template #loading>
    <p-progressSpinner [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
</ng-template>
