.channelRow {
    display: block;
    grid-template-columns: 90px auto;
    width: 100%;
    height: 82px;
    padding-bottom: 2px;
}
.programsBox {
    grid-template-columns: 90px auto;
    grid-template-rows: 28px;
    width: 100%;
}

.timebarbox {
    grid-template-columns: 90px auto;
    grid-template-rows: 28px;
    width: 100%;
}

.type_series  { background-color: darkblue; color: white;}
.type_tvshow  { background-color: darkslategray; color: white; }
.type_movie   { background-color: blueViolet; color: white; }
.type_sports  { background-color: darkred; color: white; }
