<div style="height: 90vh">
    <p-table [value]="programs" scrollHeight="flex" [scrollable]="true" styleClass="p-datatable-striped"
        [rowHover]="true" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="flex-basis: 8%" class="justify-content-end p-1">
                    {{ 'dashboard.upcoming.date' | translate }} </th>
                <th style="flex-basis: 6%" class="justify-content-end p-1">
                    {{ 'dashboard.upcoming.time' | translate }} </th>
                <th style="flex-basis: 6%" class="justify-content-end pl-1 pr-3 pt-1 pb-1"></th>
                <th style="flex-basis: 8%" class="p-1">{{ 'dashboard.upcoming.encoder' | translate }} </th>
                <th style="flex-basis: 12%" class="p-1">
                    {{ 'dashboard.recordings.title' | translate }}</th>
                <th style="flex-basis: 18%" class="p-1">{{ 'dashboard.recordings.subtitle' | translate
                    }}</th>
                <th style="flex-basis: 4%" class="p-1">{{ 'dashboard.recordings.seas_ep' | translate
                    }}</th>
                <th style="flex-basis: 8%" class="justify-content-end p-1">
                    {{ 'dashboard.recordings.orig_airdate' | translate }}
                </th>
                <th style="flex-basis: 10%" class="p-1">{{ 'dashboard.recordings.channel' | translate
                    }}</th>
                <th style="flex-basis: 8%" class="p-1">
                    {{ 'dashboard.recordings.recgrp' | translate }} </th>
                <th style="flex-basis: 7%" class="p-1">
                    {{ 'dashboard.upcoming.status' | translate }} </th>
                <th style="flex-basis: 2%" class="p-1"> <button pButton pRipple icon="pi pi-pencil" [disabled]="true"
                        class="p-button-text p-button-primary"></button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-program>
            <tr>
                <td style="flex-basis: 8%" class="justify-content-end p-1 overflow-hidden">
                    {{formatDate(program.StartTime)}}</td>
                <td style="flex-basis: 6%" class="justify-content-end p-1 overflow-hidden">
                    {{formatTime(program.StartTime)}}</td>
                <td style="flex-basis: 6%" class="justify-content-end pl-1 pr-3 pt-1 pb-1 overflow-hidden">
                    {{ getDuration(program) | number:'1.0-0' }} min</td>
                <td style="flex-basis: 8%" class="p-1">{{program.Recording.EncoderName}}</td>
                <td style="flex-basis: 12%" class="p-1 overflow-hidden"> {{program.Title}}</td>
                <td style="flex-basis: 18%" class="p-1 overflow-hidden">
                    {{program.SubTitle.slice(0,50)}}</td>
                <td style="flex-basis: 4%" class="p-1">
                    <div *ngIf="program.Season>0 || program.Episode>0"> {{program.Season}}x{{program.Episode}}</div>
                </td>
                <td style="flex-basis: 8%" class="justify-content-end p-1">
                    {{formatDate(program.Airdate)}}</td>
                <td style="flex-basis: 10%" class="p-1">
                    {{program.Channel.ChanNum}} {{program.Channel.CallSign}}</td>
                <td style="flex-basis: 8%" class="p-1">{{program.Recording.RecGroup}}</td>
                <td style="flex-basis: 7%" class="p-1" [ngStyle]="['WillRecord','Recording'].indexOf(program.Recording.StatusName)>-1?
                        {'background-color':'palegreen'}:{'background-color':'pink'}">
                    {{dataService.recStatusText[program.Recording.StatusName]}}</td>
                <td style="flex-basis: 2%" class="p-1">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-primary"
                        (click)="updateRecRule(program)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-schedule [inter]="inter"></app-schedule>
</div>