.type_series  { background-color: darkblue; color: white;}
.type_tvshow  { background-color: darkslategray;  color: white;}
.type_movie   { background-color: blueViolet;  color: white;}
.type_sports  { background-color: darkred;  color: white;}
