<!-- <div class="sidebar">
    <p-card >
    <h1 style="font-weight:normal">Menu</h1>
    <div class="flex flex-column">
        <div class="pb-2">
            <button pButton pRipple type="button" icon="pi pi-home" class="p-button-rounded p-button-info p-button-outlined" [routerLink]="''"></button>
        </div>
        <div class="mb-2">
            <button pButton pRipple type="button" icon="pi pi-info-circle" class="p-button-rounded p-button-info p-button-outlined" [routerLink]="'status'"></button>
        </div><div class="mb-2">
            <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-info p-button-outlined" [routerLink]="'settings'"></button>
        </div>
    </div>
</p-card>

</div> -->
