/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}  */
  
body {
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--surface-a);
	font-family: var(--font-family);
	font-weight: normal;
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Locally hosted icon font */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/3rdParty/materialicons/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  }
  
  .help-button {
    float: right;
}

.label {
  font-weight: bold;
}

ul.debug1{
  border-style: solid;
  border-color: blue;
}

div.debug1{
  border-style: solid;
  border-color: red;
}

div.debug2{
  border-style: solid;
  border-color: yellow;
}

div.debug3{
  border-style: solid;
  border-color: green;
}