.guideGrid .category_Action         { background-color: #906020; }
.guideGrid .category_Adult          { background-color: #702020; }
.guideGrid .category_Animals        { background-color: #609060; }
.guideGrid .category_Art_Music      { background-color: #801060; }
.guideGrid .category_Business       { background-color: #703010; }
.guideGrid .category_Children       { background-color: #B00010; }
.guideGrid .category_Comedy         { background-color: #006080; }
.guideGrid .category_Crime_Mystery  { background-color: #105050; }
.guideGrid .category_Documentary    { background-color: #504020; }
.guideGrid .category_Drama          { background-color: #400060; }
.guideGrid .category_Educational    { background-color: #606060; }
.guideGrid .category_Food           { background-color: #208040; }
.guideGrid .category_Game           { background-color: #701010; }
.guideGrid .category_Health_Medical { background-color: #806060; }
.guideGrid .category_History        { background-color: #807020; }
.guideGrid .category_HowTo          { background-color: #A0A000; }
.guideGrid .category_Horror         { background-color: #101040; }
.guideGrid .category_Misc           { background-color: #403060; }
.guideGrid .category_Film, .guideGrid .category_Movie { background-color: #809090; }
.guideGrid .category_News           { background-color: #606040; }
.guideGrid .category_Reality        { background-color: #304040; }
.guideGrid .category_Romance        { background-color: #A02050; }
.guideGrid .category_Science_Nature { background-color: #008050; }
.guideGrid .category_SciFi_Fantasy  { background-color: #606090; }
.guideGrid .category_Shopping       { background-color: #103010; }
.guideGrid .category_Soaps          { background-color: #508080; }
.guideGrid .category_Spiritual      { background-color: #804080; }
.guideGrid .category_Sports         { background-color: #005030; }
.guideGrid .category_Talk           { background-color: #203040; }
.guideGrid .category_Travel         { background-color: #2060B0; }
.guideGrid .category_War            { background-color: #B06050; }
.guideGrid .category_Western        { background-color: #806040; }
.guideGrid .category_Unknown        { background-color: #303030; }
