#menu p {
  line-height: 1.5em;
}

ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
  margin-top: 1px;
}

ul.menu li a, ul.menu ul.menu li a {
  background: #333;
  color: #fff;	
  padding: 0.5em;
}

ul.menu li a:hover, ul.menu ul.menu li a:hover {
  background: #000;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a {
  color: #000;
  padding-left: 20px;
  border-left: 10px #000 solid;
}

ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
  border-left: 15px #000 solid;
  padding-left: 15px;
}
ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 5.5em;
}
ul.menu ul.menu {
    border-left: 5px #f00 solid;
}
ul.menu a.active, ul.menu ul.menu li a.active, ul.menu a.active:hover, ul.menu ul.menu li a.active:hover {
    text-decoration: underline;
    background: #c00;
}
#menu div.panel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

ul.menu div.panel a, ul.menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
ul.menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}


#menu .code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
#menu .code code { display: block; padding: 3px; margin-bottom: 0; }
#menu .code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
#menu .indent1 { padding-left: 1em; }
#menu .indent2 { padding-left: 2em; }
#menu .indent3 { padding-left: 3em; }
#menu .indent4 { padding-left: 4em; }
#menu .indent5 { padding-left: 5em; }
#menu .indent6 { padding-left: 6em; }
#menu .indent7 { padding-left: 7em; }
#menu .indent8 { padding-left: 8em; }
#menu .indent9 { padding-left: 9em; }
#menu .indent10 { padding-left: 10em; }
