    div.setupcontent {
        position:           absolute;
        top:                10px;
        left:               10px;
        right:              10px;
    }

    /* keep wizard tabs small enough to fit on a 1024x768 size browser */
    div.setuptab {
        width:              100%;
    }

    #edit-bg {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #000000;
        z-index:100;
        opacity:0.5;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
    }

    #editcontent {
        position: absolute;
        top: 25px;
        width: 100%;
    }

    /************************************************************/
    /* various classes for 'popup' edit div */
    div.editborder-fullscreen {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        z-index: 101;
        border-width: 6px;
        border-color: #0000FF;
        border-style: double;
    }

    div.editborder-wizard {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        top: 30px;
        right: 30px;
        left: 30px;
        height: 420px;
        z-index: 101;
        border-width: 6px;
        border-color: #0000FF;
        border-style: double;
    }
    /************************************************************/

    #Title {
        font-size:          18px;
        font-family:        sans-serif;
        font-weight:        bold;
        width:              100%;
        color:              black;
        text-align:         center;
    }

    #setuptabs {
        width: 100%;
    }

    #jobEditTitle {
        font-size:          14px;
        font-family:        sans-serif;
        font-weight:        bold;
        width:              100%;
        color:              black;
        text-align:         center;
    }

    /********************************************************/
    /* Styles used by the /Config/* backend-generated pages */
    div.config {
        font:11px verdana, arial, helvetica, sans-serif;
        margin:20px;
    }

    h1.config {
        font-size:28px;
        font-weight:900;
        color:#ccc;
        letter-spacing:0.5em;
        margin-bottom:30px;
        width:650px;
        text-align:center;
    }

    h2.config {
        font-size:18px;
        font-weight:800;
        color:#360;
        border:none;
        letter-spacing:0.3em;
        padding:0px;
        margin-bottom:10px;
        margin-top:0px;
    }

    h3.config {
        font-size:14px;
        font-weight:800;
        color:#360;
        border:none;
        letter-spacing:0.3em;
        padding:0px;
        margin-bottom:10px;
        margin-top:0px;
    }
    /********************************************************/

    #helpWindow {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        top: 10px;
        right: 10px;
        height: 400px;
        width: 400px;
        z-index: 999;
        border-width: 6px;
        border-color: #0000FF;
        border-style: double;
    }

    div.helpLink {
        font-size:          10px;
        font-family:        sans-serif;
        font-weight:        bold;
        color:              blue;
        float:              left;
    }
