<div class="wizard-content">
    <p-card>
        <ng-template pTemplate="title">
            Storage Group Setup
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter the storage group paths for this backend
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <p>TODO add storage group details.</p> 
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-end">
                <p-button class="pr-1" label="Back" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>

