<div class="statusBox">
    <h2>Schedule</h2>
    <div *ngIf="scheduled?.length != 0; else noSchedule">
        <p>The next {{scheduled?.length}} show(s) that are scheduled for recording.</p>
        <mat-list>
            <mat-list-item *ngFor="let schedule of scheduled"
                matTooltip="{{schedule.Description}}"
                matTooltipPosition="below">
                    <!-- StartTime needs converting to a "pretty" display time -->
                    {{schedule.StartTime}} - {{schedule.Recording.EncoderId}} - {{schedule.Channel.CallSign}} - {{schedule.Title}}
            </mat-list-item>
        </mat-list>
    </div>
</div>

<ng-template #noSchedule>
    <p>Nothing scheduled to record</p>
</ng-template>
