<div class="wizard-content">
    <p-card>
        <ng-template pTemplate="title">
            Done
        </ng-template>
        <ng-template pTemplate="subtitle">
            Restart the backend
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <p>Show summary here?</p> 
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-end">
                <p-button class="pr-1" label="Back" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
                <p-button label="Done" (onClick)="restartBackend()" icon="pi pi-save" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
