<h2>{{ 'dashboard.backendStatus' | translate }} </h2>
@if ((m_status$ | async)?.BackendStatus; as st) {
<div class="no-style">
    <app-status-encoders [encoders]="st.Encoders"></app-status-encoders>
    <app-status-scheduled [scheduled]="st.Scheduled"></app-status-scheduled>
    <app-status-jobqueue [jobqueue]="st.JobQueue"></app-status-jobqueue>
    <app-status-machineinfo [machineinfo]="st.MachineInfo" [status]="st"></app-status-machineinfo>
    <app-db-backups></app-db-backups>
    <app-status-backends [backends]="st.Backends"></app-status-backends>
    <app-status-frontends [frontends]="st.Frontends"></app-status-frontends>
    @if (st.Miscellaneous) {
    <div class="statusBox">
        <h2>{{ 'dashboard.status.misc_title' | translate }}</h2>
        <div>
            {{st.Miscellaneous}}
        </div>
    </div>
    }
</div>
} @else {
<div>Loading...</div>
}