div.statusBox {
    width: auto;
    border-top:1px solid var(--text-color);
    border-right:1px solid var(--text-color);
    border-bottom:1px solid var(--text-color);
    border-left:10px solid var(--text-color);
    padding:10px;
    border-radius:8px 0px 0px 8px;
    margin: 20px;
    margin-bottom: 20px;
  }