# yamllint disable rule:line-length
---
name: Build MythTV core variants

#
# This workflow is intended to provide good coverage
# quickly to insure that the build "basically" works.
#
# The containers are selected to be a subset from the
# set of linux distributions and versions that are
# currently among the list (or will soon be for beta/rc)
# of the MythTV project lists of supported variants
# (which are Ubuntu LTS and current, Debian stable, and
# Fedora current and current-1.
#
# -- Some notes about github actions caches --
#
# Due to the github global limit of 10GB for caches, we
# need to subset the number of variants we build for in
# order to take advantage of the speedup provided by
# ccache.
#
# To minimize the ccache usage the builds disable
# building with debugging symbols included (smaller
# compile cache sizes).
#
# Even though we will not use the ccache until later in
# the workflow, due to github's LRU eviction strategy
# when we are near the github cache size limit we want
# to retrieve the cache early before any real work
# starts for all jobs so that the oldest caches are
# typically evicted in the order one might prefer.
# This is a subtle artifact, but was seen with a
# specific case where the cache was under high usage
# and the steps for cache retrieval did not occur until
# much later for some jobs.
#
# If the github cache (used for the compiler ccache)
# has not been flushed, this job should run in about
# 10 minutes for the linux builds to complete, and
# about 45 minutes for the macOS native builds.  If the
# caches are unavailable, it make take three to five
# times longer for the jobs to complete.
#

on:                # yamllint disable-line rule:truthy

  push:
    branches:
      - 'master'

  pull_request:
    branches:
      - 'master'

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-mythtv-linux:
    name: Building MythTV on ${{ matrix.container.desc }}

    runs-on: ubuntu-latest

    env:
      TZ: Etc/UTC
      CCACHE_DIR: $HOME/.ccache
      CCACHE_COMPRESS: true
      CCACHE_MAXSIZE: 250M
      DEBIAN_FRONTEND: noninteractive

    strategy:
      matrix:
        container:
          # Ubuntu group
          - desc: 'Ubuntu interim'
            image: 'ubuntu:rolling'
            update_cmd: 'apt update -y && apt upgrade -y'
            install_ansible_cmd: 'apt install ansible apt-utils -y'
            ansible_cmd: 'ansible-playbook --limit localhost mythtv.yml'
            install_extra_pkgs_cmd: 'apt install ant default-jdk-headless -y'
            core_working_subdirectory: 'mythtv'
            core_configure_cmd: './configure --compile-type=release --enable-debug=0 --disable-debug --enable-libmp3lame --enable-libvpx --enable-libx264 --enable-libx265 --enable-bdjava --enable-vulkan --prefix=$GITHUB_WORKSPACE/build/install'
            core_build_cmd: 'make -j4 all_no_test'
            core_install_cmd: 'make -j4 install'
            core_test_cmd: 'make -j4 tests'
            plugins_working_subdirectory: 'mythplugins'
            plugins_configure_cmd: './configure --prefix=$GITHUB_WORKSPACE/build/install'
            plugins_build_cmd: 'make -j4'
            plugins_install_cmd: 'make -j4'
          - desc: 'Ubuntu LTS'
            image: 'ubuntu:latest'
            update_cmd: 'apt update -y && apt upgrade -y'
            install_ansible_cmd: 'apt install ansible apt-utils -y'
            ansible_cmd: 'ansible-playbook --limit localhost mythtv.yml'
            install_extra_pkgs_cmd: 'apt install ant default-jdk-headless -y'
            core_working_subdirectory: 'mythtv'
            core_configure_cmd: './configure --compile-type=release --enable-debug=0 --disable-debug --enable-libmp3lame --enable-libvpx --enable-libx264 --enable-libx265 --enable-bdjava --enable-vulkan --prefix=$GITHUB_WORKSPACE/build/install'
            core_build_cmd: 'make -j4 all_no_test'
            core_install_cmd: 'make -j4 install'
            core_test_cmd: 'make -j4 tests'
            plugins_working_subdirectory: 'mythplugins'
            plugins_configure_cmd: './configure --prefix=$GITHUB_WORKSPACE/build/install'
            plugins_build_cmd: 'make -j4'
            plugins_install_cmd: 'make -j4'
          - desc: 'Ubuntu devel'
            image: 'ubuntu:devel'
            update_cmd: 'apt update -y && apt upgrade -y'
            install_ansible_cmd: 'apt install ansible apt-utils -y'
            ansible_cmd: 'ansible-playbook --limit localhost mythtv.yml'
            install_extra_pkgs_cmd: 'apt install ant default-jdk-headless -y'
            core_working_subdirectory: 'mythtv'
            core_configure_cmd: './configure --compile-type=release --enable-debug=0 --disable-debug --enable-libmp3lame --enable-libvpx --enable-libx264 --enable-libx265 --enable-bdjava --enable-vulkan --prefix=$GITHUB_WORKSPACE/build/install'
            core_build_cmd: 'make -j4 all_no_test'
            core_install_cmd: 'make -j4 install'
            core_test_cmd: 'make -j4 tests'
            plugins_working_subdirectory: 'mythplugins'
            plugins_configure_cmd: './configure --prefix=$GITHUB_WORKSPACE/build/install'
            plugins_build_cmd: 'make -j4'
            plugins_install_cmd: 'make -j4'

          # Debian group
          - desc: 'Debian stable'
            image: 'debian:stable'
            update_cmd: 'apt update -y && apt upgrade -y'
            install_ansible_cmd: 'apt install ansible apt-utils -y'
            ansible_cmd: 'ansible-playbook --limit localhost mythtv.yml'
            install_extra_pkgs_cmd: 'apt install ant default-jdk-headless -y'
            core_working_subdirectory: 'mythtv'
            core_configure_cmd: './configure --compile-type=release --enable-debug=0 --disable-debug --enable-libmp3lame --enable-libvpx --enable-libx264 --enable-libx265 --enable-bdjava --enable-vulkan --prefix=$GITHUB_WORKSPACE/build/install'
            core_build_cmd: 'make -j4 all_no_test'
            core_install_cmd: 'make -j4 install'
            core_test_cmd: 'make -j4 tests'
            plugins_working_subdirectory: 'mythplugins'
            plugins_configure_cmd: './configure --prefix=$GITHUB_WORKSPACE/build/install'
            plugins_build_cmd: 'make -j4'
            plugins_install_cmd: 'make -j4'

          # Fedora group
          - desc: 'Fedora'
            image: 'quay.io/fedora/fedora:latest'
            update_cmd: 'dnf upgrade -y'
            install_ansible_cmd: 'dnf install ansible dnf-plugins-core -y'
            ansible_cmd: 'ansible-playbook --limit localhost mythtv.yml'
            install_extra_pkgs_cmd: 'dnf install ant -y'
            core_working_subdirectory: 'mythtv'
            core_configure_cmd: './configure --compile-type=release --enable-debug=0 --disable-debug --enable-libmp3lame --enable-libvpx --enable-libx264 --enable-libx265 --enable-bdjava --enable-vulkan --prefix=$GITHUB_WORKSPACE/build/install'
            core_build_cmd: 'make -j4 all_no_test'
            core_install_cmd: 'make -j4 install'
            core_test_cmd: 'make -j4 tests'
            plugins_working_subdirectory: 'mythplugins'
            plugins_configure_cmd: './configure --prefix=$GITHUB_WORKSPACE/build/install'
            plugins_build_cmd: 'make -j4'
            plugins_install_cmd: 'make -j4'

          # Qt6, clang, and cmake alternative(s) group
          - desc: 'Fedora - Qt6'
            image: 'quay.io/fedora/fedora:latest'
            update_cmd: 'dnf upgrade -y'
            install_ansible_cmd: 'dnf install ansible dnf-plugins-core -y'
            ansible_cmd: 'ansible-playbook --limit localhost --extra-vars "{''qt6'':true}" mythtv.yml'
            install_extra_pkgs_cmd: 'dnf install ant -y'
            core_working_subdirectory: 'mythtv'
            core_configure_cmd: './configure --qmake=qmake6 --compile-type=release --enable-debug=0 --disable-debug --enable-libmp3lame --enable-libvpx --enable-libx264 --enable-libx265 --enable-bdjava --enable-vulkan --prefix=$GITHUB_WORKSPACE/build/install'
            core_build_cmd: 'make -j4 all_no_test'
            core_install_cmd: 'make -j4 install'
            core_test_cmd: 'make -j4 tests'
            plugins_working_subdirectory: 'mythplugins'
            plugins_configure_cmd: './configure --prefix=$GITHUB_WORKSPACE/build/install'
            plugins_build_cmd: 'make -j4'
            plugins_install_cmd: 'make -j4'
          - desc: 'Fedora - clang'
            image: 'quay.io/fedora/fedora:latest'
            update_cmd: 'dnf upgrade -y'
            install_ansible_cmd: 'dnf install ansible dnf-plugins-core -y'
            ansible_cmd: 'ansible-playbook --limit localhost mythtv.yml'
            install_extra_pkgs_cmd: 'dnf install ant clang -y'
            core_working_subdirectory: 'mythtv'
            core_configure_cmd: './configure --cc=clang --cxx=clang++ --compile-type=release --enable-debug=0 --disable-debug --enable-libmp3lame --enable-libvpx --enable-libx264 --enable-libx265 --enable-bdjava --enable-vulkan --prefix=$GITHUB_WORKSPACE/build/install'
            core_build_cmd: 'make -j4 all_no_test'
            core_install_cmd: 'make -j4 install'
            core_test_cmd: 'make -j4 tests'
            plugins_working_subdirectory: 'mythplugins'
            plugins_configure_cmd: './configure --prefix=$GITHUB_WORKSPACE/build/install'
            plugins_build_cmd: 'make -j4'
            plugins_install_cmd: 'make -j4'
          - desc: 'Fedora - CMake'
            image: 'quay.io/fedora/fedora:latest'
            update_cmd: 'dnf upgrade -y'
            install_ansible_cmd: 'dnf install ansible dnf-plugins-core -y'
            ansible_cmd: 'ansible-playbook --limit localhost mythtv.yml'
            install_extra_pkgs_cmd: 'dnf install ant -y'
            core_working_subdirectory: ''
            core_configure_cmd: 'cmake --preset qt5 -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/build/install'
            core_build_cmd: 'cmake --build build-qt5'
            core_install_cmd: ''
            core_test_cmd: 'cmake --build build-qt5 -t MythTV-tests'
            plugins_working_subdirectory: ''
            plugins_configure_cmd: ''
            plugins_build_cmd: ''
            plugins_install_cmd: ''

      fail-fast: false

    container:
      image: ${{ matrix.container.image }}

    steps:
      - name: Checkout ccache
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          key: ${{ matrix.container.desc }}-build-core-ccache-${{ github.sha }}
          restore-keys: ${{ matrix.container.desc }}-build-core-ccache

      - name: Detect OS release
        run: |
          . /etc/os-release
          echo "OS_RELEASE_ID=$ID" >> $GITHUB_ENV
          echo "OS_RELEASE_VERSION=$VERSION_ID" >> $GITHUB_ENV
          echo "OS_RELEASE_VERSION_MAJOR=${VERSION_ID%%.*}" >> $GITHUB_ENV
          echo "OS_RELEASE_VERSION_CODENAME=$VERSION_CODENAME" >> $GITHUB_ENV

      - name: Debian OS obtain codename for prerelease vesions
        run: echo "OS_RELEASE_VERSION_CODENAME=`dpkg --status tzdata | grep 'Provides' | cut -f2 -d'-'`" >> $GITHUB_ENV
        if: env.OS_RELEASE_ID == 'debian' && env.OS_RELEASE_VERSION_CODENAME == ''

      - name: OS update
        run: ${{ matrix.container.update_cmd }}
        if: ${{ matrix.container.update_cmd != '' }}

      - name: OS install ansible
        run: ${{ matrix.container.install_ansible_cmd }}
        if: ${{ matrix.container.install_ansible_cmd != '' }}

      - name: Checkout MythTV/ansible repository
        uses: actions/checkout@v4
        with:
          repository: MythTV/ansible
          path: ansible

      - name: Run ansible to install build requirements
        working-directory: ansible
        run: ${{ matrix.container.ansible_cmd }}
        if: ${{ matrix.container.ansible_cmd != '' }}

      - name: Install extra packages for additional coverage
        run: ${{ matrix.container.install_extra_pkgs_cmd }}
        if: ${{ matrix.container.install_extra_pkgs_cmd != '' }}

      - name: Checkout Mythtv/mythtv repository
        uses: actions/checkout@v4
        with:
          path: mythtv
          fetch-depth: 0

      - name: ccache statistics [pre]
        run: ccache -sz

      - name: Configure
        working-directory: mythtv/${{ matrix.container.core_working_subdirectory }}
        run: ${{ matrix.container.core_configure_cmd }}
        if: ${{ matrix.container.core_configure_cmd != '' }}

      - name: Build
        working-directory: mythtv/${{ matrix.container.core_working_subdirectory }}
        run: ${{ matrix.container.core_build_cmd }}
        if: ${{ matrix.container.core_build_cmd != '' }}

      - name: Install
        working-directory: mythtv/${{ matrix.container.core_working_subdirectory }}
        run: ${{ matrix.container.core_install_cmd }}
        if: ${{ matrix.container.core_install_cmd != '' }}

      - name: Test
        working-directory: mythtv/${{ matrix.container.core_working_subdirectory }}
        run: ${{ matrix.container.core_test_cmd }}
        if: ${{ matrix.container.core_test_cmd != '' }}

      - name: Configure Plugins
        working-directory: mythtv/${{ matrix.container.plugins_working_subdirectory }}
        run: ${{ matrix.container.plugins_configure_cmd }}
        if: ${{ matrix.container.plugins_configure_cmd != '' }}

      - name: Build Plugins
        working-directory: mythtv/${{ matrix.container.plugins_working_subdirectory }}
        run: ${{ matrix.container.plugins_build_cmd }}
        if: ${{ matrix.container.plugins_build_cmd != '' }}

      - name: Install Plugins
        working-directory: mythtv/${{ matrix.container.plugins_working_subdirectory }}
        run: ${{ matrix.container.plugins_install_cmd }}
        if: ${{ matrix.container.plugins_install_cmd != '' }}

      - name: ccache statistics [post]
        run: ccache -s

  build-mythtv-macos:
    name: Building MythTV on ${{ matrix.os.desc }} using ${{ matrix.compiler.desc }}

    strategy:
      matrix:
        os:
          - desc: 'macOS 14 (Sonoma) arm64'
            runner: 'macOS-14'
            arch: 'arm64'
            qt_version: 'qt6'
            database_version: 'mariadb'
            extrapkgs: ''
          - desc: 'macOS 15 (Sequoia) arm64'
            runner: 'macOS-15'
            arch: 'arm64'
            qt_version: 'qt6'
            database_version: 'mariadb'
            extrapkgs: ''
          - desc: 'macOS 26 (Tahoe) arm64'
            runner: 'macOS-26'
            arch: 'arm64'
            qt_version: 'qt6'
            database_version: 'mariadb'
            extrapkgs: ''

        compiler:
          - desc: 'clang'
            cc: 'clang'
            cxx: 'clang++'

      fail-fast: false

    runs-on: ${{ matrix.os.runner }}

    env:
      TZ: Etc/UTC
      CCACHE_DIR: $HOME/.ccache
      CCACHE_COMPRESS: true
      CCACHE_MAXSIZE: 250M
      CONFIGURE_CMD: 'cmake --preset ${{ matrix.os.qt_version }} -G Ninja -DCMAKE_BUILD_TYPE=Release -DENABLE_LTO=OFF'
      MAKE_CMD: 'cmake --build build-${{ matrix.os.qt_version }}'
      TEST_CMD: 'cmake --build build-${{ matrix.os.qt_version }} -t MythTV-tests'

    steps:
      - name: Checkout ccache
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          key: ${{ matrix.os.desc }}-${{ matrix.compiler.desc }}-build-core-ccache-${{ github.sha }}
          restore-keys: ${{ matrix.os.desc }}-${{ matrix.compiler.desc }}-build-core-ccache

      - name: Establish Homebrew Environment
        run: |
          #brew update && brew upgrade
          PKGMGR_PREFIX=$(brew --prefix)
          echo "PKGMGR_PREFIX=$PKGMGR_PREFIX" >> $GITHUB_ENV

      - name: Install Ansible and missing Python necessities
        run: |
          brew install ansible python-setuptools python-packaging

      - name: Setup Python and Ansible Variables
        run: |
          PYTHON_EXE=$PKGMGR_PREFIX/bin/python3
          PYTHON_VERSION=$(${PYTHON_EXE} -c "import sys; print(str(sys.version_info.major)+str(sys.version_info.minor))")
          PYTHON_DOT_VERSION=$(${PYTHON_EXE} -c "import sys; print(str(sys.version_info.major)+'.'+str(sys.version_info.minor))")
          ANSIBLE_EXTRA="ansible_python_interpreter=$PYTHON_EXE database_version=${{ matrix.os.database_version }}"
          echo "PYTHON_EXE=$PYTHON_EXE" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$PYTHON_VERSION" >> $GITHUB_ENV
          echo "PYTHON_DOT_VERSION=$PYTHON_DOT_VERSION" >> $GITHUB_ENV
          echo "ANSIBLE_EXTRA=$ANSIBLE_EXTRA" >> $GITHUB_ENV

      - name: Setup build envinomental variables
        run: |
          echo "PKG_CONFIG_PATH=${PKGMGR_PREFIX}/lib/pkgconfig" >> $GITHUB_ENV
          echo "QMAKE_CMD=${PKGMGR_PREFIX}/opt/${{ matrix.os.qt_version }}/bin/qmake" >> $GITHUB_ENV

      - name: Setup qt6 variables
        run: echo "ANSIBLE_EXTRA=$ANSIBLE_EXTRA \\\"{'qt6':true}\\\"" >> $GITHUB_ENV
        if: matrix.os.qt_version == 'qt6'

      - name: Checkout MythTV/ansible repository
        uses: actions/checkout@v4
        with:
          repository: MythTV/ansible
          path: ansible

      - name: Run ansible to install build requirements
        working-directory: ansible
        run: ANSIBLE_BECOME=false ANSIBLE_BECOME_ASK_PASS=False ansible-playbook mythtv.yml --extra-vars="$ANSIBLE_EXTRA" --limit localhost

      - name: Update MYSQL environmental variables
        run: |
          PKG_CONFIG_PATH=$PKG_CONFIG_PATH:${PKGMGR_PREFIX}/opt/${{ matrix.os.database_version }}/lib/pkgconfig/
          echo "PKG_CONFIG_PATH=$PKG_CONFIG_PATH" >> $GITHUB_ENV
          case ${{ matrix.os.database_version }} in
            mariadb)
              MYSQLCLIENT_LDFLAGS="$(${PKGMGR_PREFIX}/bin/pkg-config --libs libmariadb)"
              MYSQLCLIENT_CFLAGS="$(${PKGMGR_PREFIX}/bin/pkg-config --cflags libmariadb)"
            ;;
            *)
              MYSQLCLIENT_LDFLAGS="$(${PKGMGR_PREFIX}/bin/pkg-config --libs mysqlclient)"
              MYSQLCLIENT_CFLAGS="$(${PKGMGR_PREFIX}/bin/pkg-config --cflags mysqlclient)"
            ;;
          esac
          echo "MYSQLCLIENT_LDFLAGS=$MYSQLCLIENT_LDFLAGS" >> $GITHUB_ENV
          echo "MYSQLCLIENT_CFLAGS=$MYSQLCLIENT_CFLAGS" >> $GITHUB_ENV

      - name: Source the virtual python environemnt
        run: |
          PYTHON_VENV_PATH="$HOME/.virtualenvs/mythtv/python-venv$PYTHON_VERSION"
          source "${PYTHON_VENV_PATH}/bin/activate"
          echo "PYTHON_CMD=${PYTHON_VENV_PATH}/bin/python3" >> $GITHUB_ENV

      - name: Fix the HDHomeRun library on ARM64
        run: ln -s $PKGMGR_PREFIX/opt/libhdhomerun/lib/libhdhomerun.dylib $PKGMGR_PREFIX/opt/libhdhomerun/lib/libhdhomerun_arm64.dylib
        if: matrix.os.arch == 'arm64'

      - name: Fix the HDHomeRun library on x86_64
        run: ln -s $PKGMGR_PREFIX/opt/libhdhomerun/lib/libhdhomerun.dylib $PKGMGR_PREFIX/opt/libhdhomerun/lib/libhdhomerun_x64.dylib
        if: matrix.os.arch == 'x86_64'

      - name: Checkout Mythtv/mythtv repository
        uses: actions/checkout@v4
        with:
          path: mythtv

      - name: ccache statistics [pre]
        run: ccache -sz

      - name: Configure core
        working-directory: mythtv
        run: ${CONFIGURE_CMD} -B build-${{ matrix.os.qt_version }} -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/build/install

      - name: Make core
        working-directory: mythtv
        run: ${MAKE_CMD}

      - name: Test core
        working-directory: mythtv
        run: ${TEST_CMD}

      - name: ccache statistics [post]
        run: ccache -s
