<span #top></span>
<div class="content-section implementation">
    <h1>{{ 'settings.main.title' | translate }}</h1>
    <div class="card">
        <div class="flex flex-row">
            <button pButton pRipple icon="pi pi-angle-double-left" class="p-button-text p-button-primary"
                (click)="menu.navBackward()" pTooltip="{{ 'dashboard.scrolltabsleft' | translate }}"></button>
            <div class="col-11">
                <p-tabMenu #menu [model]="wizardService.wizardItems" [activeItem]="activeItem"
                    [scrollable]="false"></p-tabMenu>
            </div>
            <button pButton pRipple icon="pi pi-angle-double-right" class="p-button-text p-button-primary"
                (click)="menu.navForward()" pTooltip="{{ 'dashboard.scrolltabsright' | translate }}"></button>
        </div>

    </div>
    <app-backend-warning></app-backend-warning>
    <router-outlet></router-outlet>
</div>
