.warning {
    color: #cc8925;
    background-color:#fff2e2;
    }
.connected {
    color: #1ea97c;
    background-color: #e4f8f0;
}

.medium-width {
    width: "600";
}

/* @media screen and (max-width: 48rem) {
    .p-card-body {
        padding: 0rem !important;
    }
    .p-card-content {
        padding: 0rem !important;
    }
} */