
#content
{
    padding: 10px;
}

.pageTitle
{
    float: left;
    font-size: 1.6em;
}

.itemSelected
{
    border: 2px #0B6A98 solid;
}

.programExDetail
{
    background-color: rgba(21, 21, 21, 0.85);
    border: 2px #045FB4 solid;
    box-shadow: 6px 6px 4px #222222;
    width: 30%;
    display: none;
    z-index: 50;
    position: absolute;
    padding: 10px;
    font-size: 0.9em;
}

.programExDetail LABEL
{
    font-weight: bold;
    color: #0B6A98;
}

.programWillRecord .programHeader
{
/*    background-color: #37912F;*/
    background: linear-gradient(to bottom, #44AA44, #006600 40%);
}

.programRecording .programHeader,
.programRecording .recordingHeader,
.programTuning .programHeader,
{
/*    background-color: #00CC00;*/
    background: linear-gradient(to bottom, #00DD00, #009900 40%);
}

.programEarlierShowing .programHeader,
.programLaterShowing .programHeader,
.programOtherShowing .programHeader,
.programOtherRecording .programHeader,
.programOtherTuning .programHeader
{
    background: linear-gradient(to bottom, #66BB66, #339933 40%);
}

.programPreviouslyRecorded .programHeader,
.programCurrentlyRecorded .programHeader
{
    background: linear-gradient(to bottom, #6666EE, #3333CC 40%);
}

.programNeverRecord .programHeader,
.programDontRecorded .programHeader
{
    background: linear-gradient(to bottom, #DDCC00, #AA9900 40%);
}

.programInactive .programHeader,
.programRepeat .programHeader
{
    background: linear-gradient(to bottom, #666699, #333366 40%);
}

.programConflicting .programHeader,
.programRecorderFailed .programHeader,
.programRecorderFailed .recordingHeader
{
/*    background-color: #CC0000;*/
    background: linear-gradient(to bottom, #EE0000, #AA0000 40%);
}

.programScheduling .programHeader
{
/*    background-color: #045FB4;*/
    background: linear-gradient(to bottom, #2681D6, #003D92 40%);
}

.programSchedPopup
{
    display: none;
    background-color: rgba(26, 26, 26, 0.9);
    border-radius: 8px;
    width: 110px;
    height: 30px;
    padding: 8px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    white-space: nowrap;
}

/* OnClick Context Menus */
.contextMenu
{
    background-color: rgba(21, 21, 21, 0.85);
    border: 2px #045FB4 solid;
    box-shadow: 6px 6px 4px #222222;
    display: none;
    z-index: 99;
    position: absolute;
}

.contextMenu .button
{
    background-color:#222222;
    border:1px #444444 solid;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #4A4A4A, #222222 60%);
    margin: 7px;
    font-size: 1.1em;
    padding: 0.4em 1em;
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    display: none;
}

.contextMenu .button:hover
{
    background-color: #003147;
    background-image: linear-gradient(to bottom, #225369, #003147 60%);
    border-color: #0B93D5;
}

.contextMenu .button:active
{
    background-color: #0B93D5;
    background-image: linear-gradient(to bottom, #2DB5F7, #0B93D5 60%);
    border-color: #0B93D5;
}

/* Navigation, Ordering, sorting etc */
.navigateBox
{
    float: right;
    margin: 3px 5px 10px 5px;
    background: #2A2A2A;
    background-image: linear-gradient(to bottom, #555555 4%, transparent 25%);
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
}

.navigateBox LABEL
{
    margin: 3px;
    float: left;
}

.topBar
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear:both;
    margin: 5px 0px 2px;  /* Top Horizontal Bottom */
    height: 30px;
    font-size: 1.1em;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
    text-align: center;
    overflow: hidden;

    background: #2A2A2A;
    background-image: linear-gradient(to bottom, #555555 4%, transparent 25%),
                linear-gradient(to right, #555555 1px, transparent 6px);
    border-top-left-radius: 10px;
    padding: 6px 4px; /* Vertical Horizontal */
}

.notifyPopup
{
    color: #FFFFFF;
    display: none;
    background-color: rgba(26, 26, 26, 0.95);
    border-radius: 8px;
    width: 130px;
    height: 18px;
    padding: 8px;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -65px;
    font-size: 1.0em;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    white-space: nowrap;
    text-align: center;
}

#saveFormDataSuccess.notifyPopup
{
    color: #009900;
}

#saveFormDataError.notifyPopup
{
    color: #990000;
}

