
#content
{
    padding: 10px;
}

.pageTitle
{
    float:left;
}

.itemSelected
{
    border: 2px #045FB4 solid;
}


.programExDetail
{
    background-color: rgba(51, 51, 51, 0.85);
    border: 2px #045FB4 solid;
    box-shadow: 6px 6px 4px #222222;
    width: 30%;
    display: none;
    z-index: 50;
    position: absolute;
    padding: 10px;
}

.guideGrid .programWillRecord .programHeader
{
/*    background-color: #37912F;*/
    background: linear-gradient(to bottom, #6FC462, #156F0D 40%);
}

.guideGrid .programRecording .programHeader,
.recordingList .programRecording .recordingHeader
{
/*    background-color: #00CC00;*/
    background: linear-gradient(to bottom, #00EE00, #00AA00 40%);
}

.guideGrid .programEarlierShowing .programHeader,
.guideGrid .programLaterShowing .programHeader,
.guideGrid .programOtherShowing .programHeader
{
    border: 2px #37912F dashed;
}

.guideGrid .programConflicting .programHeader,
.guideGrid .programRecorderFailed .programHeader,
.recordingList .programRecorderFailed .recordingHeader
{
/*    background-color: #CC0000;*/
    background: linear-gradient(to bottom, #EE0000, #AA0000 40%);
}

/* OnClick Context Menus */
.contextMenu
{
    background-color: rgba(51, 51, 51, 0.85);
    border: 2px #045FB4 solid;
    box-shadow: 6px 6px 4px #222222;
    display: none;
    z-index: 99;
    position: absolute;
}

.contextMenu .button
{
    background-color:#444444;
    border:3px #FFFFFF outset;
    color: #DDDDDD;
    margin: 7px;
    font-weight: bold;
    font-size: 1.1em;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
}

.contextMenu .button:hover
{
    background-color:#555555;
    color: #FFFFFF;
}

.contextMenu .button:active
{
    border-style:inset;
}

