
#content
{
    padding: 10px;
}

.pageTitle
{
    float: left;
    font-size: 1.6em;
}

.itemSelected
{
    border: 2px #0B6A98 solid;
}

.programExDetail
{
    background-color: rgba(21, 21, 21, 0.85);
    border: 2px #045FB4 solid;
    box-shadow: 6px 6px 4px #222222;
    width: 30%;
    display: none;
    z-index: 50;
    position: absolute;
    padding: 10px;
    font-size: 0.9em;
}

.programExDetail LABEL
{
    font-weight: bold;
    color: #0B6A98;
}

.programWillRecord .programHeader
{
/*    background-color: #37912F;*/
    background: linear-gradient(to bottom, #44AA44, #006600 40%);
}

.programRecording .programHeader,
.programRecording .recordingHeader
{
/*    background-color: #00CC00;*/
    background: linear-gradient(to bottom, #00DD00, #009900 40%);
}

.programEarlierShowing .programHeader,
.programLaterShowing .programHeader,
.programOtherShowing .programHeader
{
    border: 2px #37912F dashed;
}

.programConflicting .programHeader,
.programRecorderFailed .programHeader,
.programRecorderFailed .recordingHeader
{
/*    background-color: #CC0000;*/
    background: linear-gradient(to bottom, #EE0000, #AA0000 40%);
}

.programScheduling .programHeader
{
/*    background-color: #045FB4;*/
    background: linear-gradient(to bottom, #2681D6, #003D92 40%);
}

.programSchedPopup
{
    display: none;
    background-color: rgba(26, 26, 26, 0.9);
    border-radius: 8px;
    width: 110px;
    height: 30px;
    padding: 8px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    white-space: nowrap;
}

/* OnClick Context Menus */
.contextMenu
{
    background-color: rgba(21, 21, 21, 0.85);
    border: 2px #045FB4 solid;
    box-shadow: 6px 6px 4px #222222;
    display: none;
    z-index: 99;
    position: absolute;
}

.contextMenu .button
{
    background-color:#333333;
    border:1px #444444 solid;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #4A4A4A, #222222 60%);
    margin: 7px;
    font-size: 1.1em;
    padding: 0.4em 1em;
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    display: none;
}

.contextMenu .button:hover
{
    background-color: #003147;
    background-image: linear-gradient(to bottom, #225369, #003147 60%);
    border-color: #0B93D5;
}

.contextMenu .button:active
{
    background-color: #0B93D5;
    background-image: linear-gradient(to bottom, #2DB5F7, #0B93D5 60%);
    border-color: #0B93D5;
}

/* Navigation, Ordering, sorting etc */
.navigateBox
{
    float: right;
    margin: 3px 5px 10px 5px;
    background: #2A2A2A;
    background-image: linear-gradient(to bottom, #555555 4%, transparent 25%);
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
}

.navigateBox SELECT
{
    margin: 2px;
    background-color: #151515;
    border: 1px #444444 solid;
    color: #FFFFFF;
    padding: 3px;
    text-align: center;
}


.navigateBox SELECT:hover
{
    background-color: #003147;
    border-color: #0B93D5;
}

.navigateBox SELECT:active
{
    background-color: #003147;
    border-color: #0B93D5;
}

.navigateBox LABEL
{
    margin: 3px;
    float: left;
}

