
.recordingList
{
    /* BEGIN HACK Most modern browsers support calc, but some like Opera 12 on
     * linux don't, so we have trust this will work for now */
    width: 98%;
    /* END HACK */

    width: calc(100% - 20px); /* Need to subtract padding of parent */
    position: absolute;
    padding: 0px;
    /*overflow: visible;*/
}

.recordingList div
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.recordingList .recordingRow
{
    clear: both;
    width: 100%;
    height: 100px;
    margin: 2px 0px; /* Vertical Horizontal */
    overflow: hidden;
}

.recordingList .noRecordingsRow
{
    clear: both;
    width: 100%;
    height: 50px;
    margin: 2px 0px; /* Vertical Horizontal */
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: #555555;
    font-size: 1.0em;
    font-weight: bold;
    padding-top: 15px;
}

.recordingList .previewBox
{
    float: left;
    height: 100%;
    background: #2A2A2A;
    background-image: linear-gradient(to right, #555555 1px, transparent 6px);
    padding-left: 6px;
    z-index: -5;
    width: 124px;
    text-align:center;
}

.recordingList .previewImageBackground
{
    float: right;
    /*border-radius: 10px;*/
    background: #000000;
    padding-left: 0px;
    width: 119px;
    height: 67px;
    overflow: hidden;
}

.recordingList .previewImage
{
    margin: auto;
    overflow: hidden;
}

.recordingList .watchRecordingLink
{
    clear: both;
    float: left;
    font-weight: bold;
    font-size: 1.1em;
    padding: 2px 0px 0px 23px; /* Top Right Bottom Left */
    height: 22px;
    background-image: url('/tv/images/play_arrow.svg');
    background-size: 21px 20px;
    background-repeat: no-repeat;
    margin: 5px 0px 0px 15px;
    opacity: 0.5;
    cursor: pointer;
}

.recordingList .watchRecordingLink A
{
    color: #FFFFFF;
    text-decoration: none;
}

.recordingList .watchRecordingLink:hover
{
    opacity: 1.0;
}

.recordingList .programBox
{
    height: 100%;
    width: calc(100% - 124px);
    padding: 0px 0px 0px 2px; /* Top Right Bottom Left */
    cursor: pointer;
}

.recordingList .programInnerBox
{
    height: 100%;
    background-color: #555555;
    position: relative; /* Required for programSchedPopup to be centred */
    cursor: pointer;
}

.recordingList .programHeader
{
    padding: 6px 8px 6px 8px;
    color: #FFFFFF;
    height: 30px;
    background: linear-gradient(to bottom, #777777 1%, #555555 20%, #222222 99%);
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 4;
}

.recordingList .programTitle
{
    float: left;
    width: 50%;
    font-size: 1.1em;
    font-weight: bold;
}

.recordingList .programStartTime
{
    width: 30%;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
    margin-top: 3px;
}

.recordingList .programBody
{
    padding: 3px 5px; /* Vertical Horizontal */
    color: #DDDDDD;
    height: 70px;
    z-index: 5;
    overflow: hidden;
    text-overflow: clip;
}

.recordingList .programDescription
{
    position: relative;
    z-index: 1;
    text-overflow: clip;
    line-height: 15px;
}

.recordingList .programSubtitle
{
    position:relative;
    font-weight: bold;
    font-size: 1.0em;
    margin-right: 5px;
    z-index: 1;
    line-height: 15px;
}

.recordingList .programSeasonEpisode
{
    font-size: 0.9em;
    margin-right: 3px;
}

.recordingList .programIcons
{
    float: right;
    width: 110px;
    height: 100%;
    position: relative;
    margin-left: 10px;
    padding: 0px;
}


/* Icons all a 4:3 aspect */
.recordingList .programIcons IMG
{
    float: left;
    width: 36px;
    height: 27px;
    margin: 2px 0px; /* Vertical Horizontal */
}

.wastebin
{
    margin: 3px 5px 10px 5px;
    float: right;
    padding: 5px 5px 2px 5px;
    background: #2A2A2A;
    background-image: linear-gradient(to bottom, #555555 4%, transparent 25%);
    border-radius: 8px;
    width: 42px;
}
