
.header
{
    background-color: #2A2A2A;
    border-radius: 10px;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.headerChannel
{
    float: left;
}

.headerChannel IMG
{
    margin: 5px;
    border-radius: 10px;
}

.headerTitle
{
    float: left;
    padding: 5px;
    vertical-align: middle;
    margin-top: 8px;
    margin-left: 15px;
}

.headerTitle .recRuleTitle
{
    font-size: 1.3em;
    font-weight: bold;
    display: block;
}

.headerTitle .recRuleSubTitle
{
    font-size: 1.0em;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.recRuleStartTime
{
    font-size: 0.9em;
    display: block;
    margin-top: 2px;
}

#scheduleEditor
{
    clear: both;
}

#scheduleEditor div
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
/*    overflow: hidden;*/
}

.recRuleDetails>DIV
{
    margin-bottom: 10px;
}

.recRuleDetails .recRuleDescription
{
    clear: both;
    margin-bottom: 15px;
}

.recRuleDetails .label
{
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 15px;
}

.recRuleDetails .value
{
    font-size: 0.9em;
    margin-right: 15px;
}

.recRuleDetails .programDetails
{
    clear: both;
}

.upcomingShowings
{
    clear: both;
    float: left;
    width: 46%;
}

.upcomingConflicts
{
    margin-left: 5%;
    float: left;
    width: 46%;
}

.upcomingShowings .label,
.upcomingConflicts .label
{
    margin-bottom: 10px;
    display: block;
}

.upcomingShowing, .upcomingConflict
{
    margin: 0px;
    margin-top: 5px;
    height: 55px;
}

.channelIconBox
{
    clear: both;
    float: left;
    background-color: #2A2A2A;
    padding: 4px;
    height: 100%;
}

.channelIconBox IMG
{
    border-radius: 6px;
}

.programBox
{
    background-color: #444444;
    border-radius: 0px 6px 6px 0px;
    overflow: hidden;
    height: 100%;
    right: 0px;
}

.programHeader
{
    padding: 5px 8px 4px 7px;
    color: #FFFFFF;
    height: 25px;
    background: linear-gradient(to bottom, #777777 1%, #555555 20%, #222222 99%);
    border-radius: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom-right-radius: 6px;
}

.programHeader IMG
{
    float: left;
    margin-top: 2px;
    margin-right: 3px;
    vertical-align: middle;
}

.programTitle
{
    float: left;
    display: block;
    font-size: 1.0em;
    font-weight: bold;
}

.programDateTime
{
    font-size: 0.8em;
    text-align: right;
    float: right;
    display: block;
}

.programBody
{
    padding: 3px 5px 4px 5px; /* Top Right Bottom Left */
    color: #DDDDDD;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8em;
    margin-top: 2px;
}

.programSubtitle
{
    font-weight: bold;
    width: 50%;
    display: block;
    float: left;
}

.programDescription
{
}

.programRecordingStatus
{
    width: 50%;
    text-align: right;
    float: right;
    display: block;
}

