
.upcomingList
{
    /* BEGIN HACK Most modern browsers support calc, but some like Opera 12 on
     * linux don't, so we have trust this will work for now */
    width: 98%;
    /* END HACK */

    width: calc(100% - 20px); /* Need to subtract padding of parent */
    position: absolute;
    padding: 0px;
    /*overflow: visible;*/
}

.upcomingList div
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.upcomingList .programRow
{
    clear: both;
    width: 100%;
    height: 80px;
    margin: 2px 0px; /* Vertical Horizontal */
    overflow: hidden;
}

.upcomingList .noProgramsRow
{
    clear: both;
    width: 100%;
    height: 50px;
    margin: 2px 0px; /* Vertical Horizontal */
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: #555555;
    font-size: 1.0em;
    font-weight: bold;
    padding-top: 15px;
}

.upcomingList .channelBox
{
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: #2A2A2A;
    background-image: linear-gradient(to right, #555555 1%, transparent 10%);
    color: #FFFFFF;
    padding-left: 6px;
}

.upcomingList .channelIcon
{
    height: 57px;
    margin-left: 4px;
    margin-bottom: 3px;
    overflow: hidden;
    float: right;
}

.upcomingList .channelText
{
    clear: both;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 2px; /* Vertical Horizontal */
}

.upcomingList .programBox
{
    height: 100%;
    padding: 0px 0px 0px 2px; /* Top Right Bottom Left */
    cursor: pointer;
}

.upcomingList .programInnerBox
{
    height: 100%;
    background-color: #555555;
    /*border-radius: 10px;*/
    position: relative; /* Required for programSchedPopup to be centred */
    cursor: pointer;
}

.upcomingList .programHeader
{
    padding: 5px 8px 4px 7px;
    color: #FFFFFF;
    height: 28px;
    background: linear-gradient(to bottom, #777777 1%, #555555 20%, #222222 99%);
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 4;
}

.guideGrid .programHeader IMG
{
    float: left;
    margin-top: 2px;
    margin-right: 3px;
    vertical-align: middle;
}

.upcomingList .programTitle
{
    float: left;
    width: 50%;
    font-size: 1.1em;
    font-weight: bold;
}

.upcomingList .programStartTime
{
    width: 30%;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
    margin-top: 3px;
}

.upcomingList .programBody
{
    padding: 3px 5px 4px 5px; /* Top Right Bottom Left */
    color: #DDDDDD;
    height: 52px;
    z-index: 5;
    overflow: hidden;
    text-overflow: clip;
    font-size: 0.9em;
}

.upcomingList .programDescription
{
    position: relative;
    z-index: 1;
    text-overflow: clip;
    font-size: 0.9em;
}

.upcomingList .programRecStatus
{
    clear: left;
    width: 100%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.upcomingList .programInput
{
    clear: left;
    width: 70%;
    float: left;
}

.upcomingList .programChannel
{
    width: 30%;
    float: right;
}

.upcomingList .programRecType
{
    width: 30%;
    float: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.upcomingList .label
{
    font-weight: bold;
}

.upcomingList .programSubtitle
{
    float: left;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.upcomingList .programSeasonEpisode
{
    float: left;
}
