#
# Joystick menu config file
#  Place in ~/.mythtv/
#
#   Format:
#       devicename <devname>        Specify name of joystick device to use
#                                   (e.g. /dev/js0)
#       button num keystring        Send 'keystring' when button 'num' is released
#       chord cnum bnum keystring   If button cnum is down, and button 'bnum'
#                                   is released, send keystring
#       axis num from to keystring  If axis num goes into the range of from-to
#                                   send keystring

devicename /dev/js0

button 0                    Enter
button 1                    Escape
chord  2    5               Escape

axis   0    -32767  -15000  Left
axis   0     15000   32767  Right
axis   1    -32767  -15000  Up
axis   1     15000   32767  Down

axis   5    -32767  -15000  Left
axis   5     15000   32767  Right
axis   6    -32767  -15000  Up
axis   6     15000   32767  Down


